PORT = 8000
CORS_ORIGIN=*
MONGODB_URI = mongodb://laxitraiyani2:Laxit2Raiyani@ac-wcbvowg-shard-00-00.u9bk5ru.mongodb.net:27017,ac-wcbvowg-shard-00-01.u9bk5ru.mongodb.net:27017,ac-wcbvowg-shard-00-02.u9bk5ru.mongodb.net:27017/?replicaSet=atlas-ry4985-shard-0&ssl=true&authSource=admin